---
import Parser from "rss-parser";

import Layout from "../layouts/Layout.astro";
import List from "../components/List.astro";
import type { Props as ListProps } from "../components/ListRow.astro";
import Filters from "../components/Filters.astro";

function nonNullable<T>(value: T): value is NonNullable<T> {
    return value !== null && value !== undefined;
}

function getCategory(url?: string): ListProps["category"] {
    if (!url) {
        return "NEWS";
    }
    if (url.includes("smashingmagazine")) {
        return "DEV";
    }
    if (url.includes("mozilla")) {
        return "DEV";
    }
    if (url.includes("hnrss")) {
        return "DEV";
    }
    if (url.includes("techcrunch")) {
        return "TECH";
    }
    if (url.includes("theverge")) {
        return "TECH";
    }
    if (url.includes("macrumors")) {
        return "TECH";
    }
    if (url.includes("crunchyroll")) {
        return "TV";
    }
    return "NEWS";
}

const d = new Date();
const now = d.toLocaleDateString("en-US", {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
});
const week = d.setDate(d.getDate() - 7);

const parser = new Parser();

const list = (
    await Promise.allSettled(
        [
            "https://www.smashingmagazine.com/feed/",
            "https://developer.mozilla.org/en-US/blog/rss.xml",
            "https://hnrss.org/newest",
            "https://techcrunch.com/feed",
            "https://theverge.com/rss/frontpage",
            "https://feeds.macrumors.com/MacRumors-All",
            "http://feeds.feedburner.com/crunchyroll/rss/anime",
        ].map(async (src) => {
            try {
                const feed = await parser.parseURL(src);
                return feed.items.map((i) => ({
                    category: getCategory(src),
                    feed: feed.title,
                    title: i.title,
                    href: i.link,
                    date: i.pubDate ? new Date(i.pubDate) : undefined,
                }));
            } catch (error) {
                console.error("Error fetching feed" + src, error);
            }
        })
    )
)
    .filter((r) => r.status === "fulfilled")
    .flatMap((r) => r.value)
    .filter(nonNullable)
    .filter((r) => (r.date ? Number(r.date) >= week : true))
    .sort((a, b) => (b.date ?? new Date()).getTime() - (a.date ?? new Date()).getTime());
---

<Layout title="rss">
    <main>
        <time>{now}</time>
        <Filters />
        <List list={list} />
    </main>
</Layout>

<style>
    main {
        padding: 2rem;
        color: white;
    }
    time {
        color: var(--text-secondary);
    }
</style>

<script>
    function disableOther(enabledId: string) {
        document.querySelectorAll("[data-filter]").forEach((b) => {
            if (b.getAttribute("data-filter") !== enabledId) {
                b.classList.remove("active");
            } else {
                b.classList.add("active");
            }
        });
    }

    function updateList(filter: string) {
        const list = document.querySelectorAll("[data-category]");
        list.forEach((item) => {
            if (filter === "ALL") {
                item.classList.remove("hidden");
            } else if (item.getAttribute("data-category") === filter) {
                item.classList.remove("hidden");
            } else {
                item.classList.add("hidden");
            }
        });
    }

    const currentFilter =
        new URLSearchParams(window.location.search).get("filter") || "ALL";

    disableOther(currentFilter);
    updateList(currentFilter);
    

    document.querySelectorAll("[data-filter]").forEach((b) => {
        b.addEventListener("click", () => {
            const bFilter = b.getAttribute("data-filter");
            if (!bFilter) {
                return;
            }

            disableOther(bFilter);
            updateList(bFilter);
            const newUrl = new URL(window.location.href);
            newUrl.searchParams.set("filter", bFilter);
            history.pushState({}, "", newUrl);
        });
    });

    window.addEventListener("popstate", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const filter = urlParams.get("filter") || "ALL";
        disableOther(filter);
    });
</script>
