---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="RSS" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --text: rgb(0, 0, 0);
        --text-secondary: rgb(0, 0, 0, 0.7);
        --text-white: rgb(255, 255, 255);
        --bg: rgb(254, 254, 254);
        --bg-dark: rgb(98, 98, 98);
        --category-dev: #F76C5E;
        --category-tech: #5AB1BB;
        --category-news: #A5C882;
        --category-tv: #F7DD72;
    }
    html {
        font-family: system-ui, sans-serif;
        background: var(--bg);
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
